---
title: Resume
layout: default
---
<div class="print-hidden">
    <h4>Like what you see here?</h4>
    <ul>
      <li><a href="mailto:joao.r.cabrita@gmail.com">Email me!</a></li>
      <li><button onClick="window.print()">Print this!</button></li>
    </ul>
    </p>
    <ul class="uk-subnav uk-subnav-line">
        <li><a class="resume_menu_entry" href="#professional_exp">Professional Experience</a></li>
        <li><a class="resume_menu_entry" href="#academic_exp">Education</a></li>
        <li><a class="resume_menu_entry" href="#talks_pubs">Talks / Publications</a></li>
    </ul>
</div>
<img id="cv-photo" src="/images/photo.jpg" alt="A picture of me." />
<div class="print-only">
    <h1>João Cabrita</h1>
    <h2>kewne@protonmail.com</h2>
</div>
<hr />
<div>
    <div>
        <h1 id="professional_exp">Professional Experience</h1>
        <div id="resume-container">
            {% assign xps = site.prof_exp | sort: 'date' | reverse %}
            {% for exp in xps %}
            {% assign rem = forloop.index | modulo: 2 %}
            <div class="uk-panel uk-panel-box {% if rem == 1 %}uk-panel-box-primary{% endif %} uk-panel-space text-block">
                <h1 class="uk-panel-title">{{ exp.title}}</h1>
                <h2 class="uk-panel-title">{{ exp.date | date: "%B %Y" }} &mdash; {{ exp.end_date | date: "%B %Y" }}</h2>
                <p>{{ exp.content }}</p>
                <table class="uk-table no-break">
                    <caption>Technologies Used</caption>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Usage</th>
                        </tr>
                     </thead>
                    <tbody>
                        {% for t in exp.tech %}
                        <tr>
                            <td>{{ t.name }}</td>
                            <td>{{ t.usage }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h1 id="academic_exp">Academic Experience</h1>
        <div id="resume-container">
            {% include academic_exp.html %}
        </div>
    </div>
    <div>
        <h1 id="talks_pubs">Talks/Publications</h1>
        <div id="resume-container">
            {% include talks_pubs.html %}
        </div>
    </div>
</div>
