<div class="resume_entry">
	<div class="resume_entry_header">
		<span class="resume_entry_employer">agap2</span>
		<span class="resume_entry_span">July 2013 / Today</span>
		<span class="resume_entry_title">Consultant</span>
	</div>
	<div class="resume_entry_body">
		<p>
            After a year with Coreworks, I decided to go back into consulting and moved to agap2.
		</p>
        <p>
            I've been assigned to a project with a client in Porto which does web development.
            Since, at the time of writing this, I've only been here for a week, I don't have a lot to say yet.
            The people are all very nice and the project seems to be both interesting and challenging.
            Updates on this to come!
        </p>
	</div>
</div>
