<div class="resume_entry">
	<div class="resume_entry_header">
		<h2 class="resume_entry_employer">Banking Software company (through agap2)</h2>
		<h3 class="resume_entry_span">January 2014 / November 2014</h3>
		<h3 class="resume_entry_title">Consultant</h3>
	</div>
	<div class="resume_entry_body">
        <p>
            This project revolved around modernizing much of the company's outdated software infrastructure, specifically in terms of application front-end development and delivery practices.
        </p>
        <p>
            I helped design and create a framework prototype for front-end development, using Servlet-based Java for the server-side and Javascript (angular.js) on the client-side.
        </p>
        <p>
            I also implemented most of the Continuous Integration infrastructure for developing, testing, and deploying a sample application using the framework described above, using Ansible and XLDeploy.
        </p>
	</div>
</div>
