<div class="resume_entry">
	<div class="resume_entry_header">
		<h2 class="resume_entry_employer">Online Betting company (through agap2)</h2>
		<h3 class="resume_entry_span">July 2013 / December 2013</h3>
		<h3 class="resume_entry_title">Consultant</h3>
	</div>
	<div class="resume_entry_body">
        <p>
            The project's goal was to replicate the company's current international website user experience in its italian website.
            In this scope, I helped develop some of the backend web services used to integrate the italian betting regulator's platform with the company's own platform.
            Backend service development was supported by three teams, two in Porto (one of which was my team), and another in the United Kingdom, in a Scrum environment.
        </p>
        <p>
            In spite of having had to temporarily relocate to Porto for the project, this was a fantastic project to work with.
            The company had a great work environment, coupling really friendly people with a very well maintained office, all the while keeping a high technical standard.
        </p>
	</div>
</div>
