<p>At the beggining of 2012, following my interest to work in embedded systems, I took the opportunity offered to me by Coreworks to work for them as a software engineer.
The team had five software engineers and three hardware engineers, for a total of eight people.</p>
<p>The company was kicking off a project for a major electronics company, eventually selecting me as software team leader to organize software development efforts and allow the company's administrators to focus on management.
During this time, at my suggestion, the company adopted some elements of Kanban to help support its development activities.
In the scope of this project, I was also required to provide customer support.</p>
<p>Besides being involved in the company's core audio codec development (particularly on the frontend), I implemented automated build, test and delivery procedures and managed much of the IT infrastructure.</p>
