<div class="resume_entry">
	<div class="resume_entry_header">
		<h2 class="resume_entry_employer">Deloitte</h2>
		<h3 class="resume_entry_span">February 2010 / August 2010</h3>
		<h3 class="resume_entry_title">Intern</h3>
	</div>
	<div class="resume_entry_body">
		<p class="resume_entry_description">
		My first professional experience was at Deloitte, working part-time on a Java Web-based Customer Relationship Management application as part of a team of three people.
		The internship provided me with lots of learning opportunities on the basics of application development and business in general.
		</p>
		<p class="resume_entry_description">
		My main contributions to the project during this time were on the technical level, specifically bug fixing.
		</p>
		<p class="resume_entry_description">
		After six months as an intern, Deloitte hired me to work full-time for them on the same project.
		My time in this position allowed me to further my learning in application development and also my soft skills, since I became involved with feature development and had to deal with our users, mostly to do requirements' analysis and present prototypes.
		</p>
		<p class="resume_entry_description">
		Besides fixing some more bugs, I developed parts of the billing module, in particular the provisions' related features.
		Towards the end of my colaboration with Deloitte, I was responsible for the development of REST webservices meant to be consumed by a mobile application being developed by another team, as well as SOAP services to interact with a middleware solution, also being developed by another team.
		</p>
