<div class="resume_entry">
	<div class="resume_entry_header">
		<span class="resume_entry_employer">Deloitte</span>
		<span class="resume_entry_span">September 2010 / August 2011</span>
		<span class="resume_entry_title">Analyst</span>
	</div>
	<div class="resume_entry_body">
		<p class="resume_entry_description">
		After six months as an intern, Deloitte hired me to work full-time for them on the same project.
		My time in this position allowed me to further my learning in application development and also my soft skills, since I became involved with feature development and had to deal with our users, mostly to do requirements' analysis and present prototypes.
		</p>
		<p class="resume_entry_description">
		Besides fixing some more bugs, I developed parts of the billing module, in particular the provisions' related features.
		Towards the end of my colaboration with Deloitte, I was responsible for the development of REST webservices meant to be consumed by a mobile application being developed by another team, as well as SOAP services to interact with a middleware solution, also being developed by another team.
		</p>
	</div>
</div>
