<div class="resume_entry">
	<div class="resume_entry_header">
		<span class="resume_entry_employer">NetPeople</span>
		<span class="resume_entry_span">September 2011 / February 2012</span>
		<span class="resume_entry_title">Consultant</span>
	</div>
	<div class="resume_entry_body">
		<p class="resume_entry_description">
		After spending a year working full-time at Deloitte, I decided to explore some other project opportunities and got the chance to move to NetPeople.
		I was assigned to a project on a major company in the field of telecommunications, developing a Java application for Network Management.
		Specifically, I worked as part of one of the development teams, totalling twelve people.
		</p>
		<p class="resume_entry_description">
		The company I was in was adopting Agile development methods (Scrum) and this was my first contact with that methodology.
		I thus became very interested in Agile methodologies, eventually serving as a facilitator in some of the team's retrospectives.
		This position also provided me with the opportunity to study the larger-scale automation and quality assurance processes that were put in place.
		</p>
		<p class="resume_entry_description">
		Unfortunately, I did not have the chance to work on features and my contributions were mostly on maintenance tasks, fixing bugs and writing unit tests.
		Besides working on those tasks, I developed a Java web application which queried the project's bug tracker periodically to update and display some statistics on the team's performance.
		</p>
	</div>
</div>
