<ul class="uk-list uk-list-space">
    <li>
        <div class="resume_exp_div">
            <h2>Languages</h2>
            <div>{% include academic_exp/language.html %}</div>
        </div>
    </li>
    <li>
        <div class="resume_exp_div">
            <h2>Technical Certifications</h2>
            <div>{% include academic_exp/tech_certs.html %}</div>
        </div>
    </li>
    <li>
        <div class="resume_exp_div">
            <h2>College</h2>
            <div class="uk-panel uk-panel-box uk-panel-box-primary uk-panel-space text-block">
                <h4 class="uk-panel-title">MSc Electrical and Computer Engineering &mdash; Instituto Superior Técnico</h4>
                <h4 class="uk-panel-title">September 2004 &mdash; October 2010</h4>
                <div class="text-block">
                    <p>Graduated from the 1st cycle of studies with an average of 14 out of 20 points.</p>
                    <p>Graduated from the 2nd cycle of studies with an average of 16 out of 20 points.</p>
                    <p>As a requisite for the Master of Science degree, wrote and defended the thesis "Brain-Computer Interfaces".</p>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="resume_exp_div">
            <h2>Others</h2>
            <dl class="uk-description-list-line">
                <dt>Member of the <a href="https://algarvetoastmastersclub.com/">Algarve Toastmasters Club</a> since October 2022</dt>
                <dd>Toastmasters International</dd>
            </dl>
        </div>
    </li>
</ul>
