<div itemprop="breadcrumb" id="menu">
    <nav class="uk-navbar">
        <ul id="menu_items" class="uk-navbar-nav">
            <li>
                <a href="/index.html">Home</a>
            </li>
            <li>
                <a href="/resume.html">Curriculum</a>
            </li>
            <li>
                <a href="/posts.html">Blog</a>
            </li>
        </ul>
    <div id="social_media_items" class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li>
                <a href="/feed.rss"><img id="rss-img" src="/images/Feed-icon.svg"/ width="32" height="32"></a>
            </li>
            <li>
                <a href="https://twitter.com/joaorcabrita" target="_blank"><img id="twitter-img" src="/images/bird_blue_32.png" alt="@joaorcabrita on Twitter" /></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/joaorcabrita" target="_blank"><img id="linkedin-img" src="/images/InBug-30px-R.png" alt="LinkedIn&reg; profile"/></a>
            </li>
            <li>
                <a href="https://plus.google.com/109191579228363389214?rel=author" target="_blank"><img id="gplus-img" src="/images/g+32.png" alt="+JoãoCabritaK" /></a>
            </li>
        </ul>
    </div>
    </nav>
</div>
