<div itemprop="breadcrumb">
    <nav class="uk-navbar uk-navbar-container uk-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="/index">Home</a>
                </li>
                <li>
                    <a href="/resume">Curriculum</a>
                </li>
                <li>
                    <a href="/posts">Blog</a>
                </li>
                <li>
                    <a href="/patterns">Patterns</a>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a aria-label="RSS feed" uk-icon="icon: rss" href="/feed.rss"></a>
                </li>
                <li>
                    <a aria-label="LinkedIn" uk-icon="icon: linkedin" href="https://www.linkedin.com/in/joaorcabrita" target="_blank"></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
