<div itemprop="breadcrump" id="menu">
    <div id="social_media_items">
        <a href="https://twitter.com/joaorcabrita" target="_blank"><img id="twitter-img" src="/images/bird_blue_32.png" alt="@joaorcabrita on Twitter" /></a>
        <a href="https://www.linkedin.com/in/joaorcabrita" target="_blank"><img id="linkedin-img" src="/images/InBug-30px-R.png" alt="LinkedIn&reg; profile"/></a>
        <a href="https://plus.google.com/+JoãoCabritaK?rel=author" target="_blank"><img id="gplus-img" src="/images/g+32.png" alt="+JoãoCabritaK" /></a>
    </div>
    <div id="menu_items">
        <a href="/index.html">Home</a>
        <a href="/resume.html">Curriculum</a>
        <a href="/posts.html">Blog</a>
    </div>
</div>
