{% assign xps = site.prof_exp | sort 'start_date' | reverse %}
{% for exp in xps %}
{% assign rem = forloop.index | modulo: 2 %}
<div class="uk-panel uk-panel-box {% if rem == 1 %}uk-panel-box-primary{% endif %} uk-panel-space text-block">
    <h1 class="uk-panel-title">{{ exp.title}}</h1>
    <h2 class="uk-panel-title">{{ exp.start_date | date: "%B %Y" }} &mdash; {{ exp.end_date | date: "%B %Y" }}</h2>
    <div class="text-block">{{ exp.content }}</div>
</div>
{% endfor %}
<div class="uk-panel uk-panel-box uk-panel-space text-block">
    <h1 class="uk-panel-title">Online Betting company (through agap2)</h1>
    <h2 class="uk-panel-title">July 2013 &mdash; December 2013</h2>
    <div>{% include professional_exp/betting.html %}</div>
</div>
<div class="uk-panel uk-panel-box uk-panel-box-primary uk-panel-space text-block">
    <h1 class="uk-panel-title">Coreworks</h1>
    <h2 class="uk-panel-title">March 2012 &mdash; June 2013</h2>
    <div>{% include professional_exp/coreworks.html %}</div>
</div>
<div class="uk-panel uk-panel-box uk-panel-space text-block">
    <h1 class="uk-panel-title">Telecommunications company (through NetPeople)</h1>
    <h2 class="uk-panel-title">September 2011 &mdash; February 2012</h2>
    <div>{% include professional_exp/netpeople.html %}</div>
</div>
<div class="uk-panel uk-panel-box uk-panel-box-primary uk-panel-space text-block">
    <h1 class="uk-panel-title">Deloitte</h1>
    <h2 class="uk-panel-title">February 2010 &mdash; August 2011</h2>
    <div>{% include professional_exp/deloitte.html %}</div>
</div>
