<div id="talk_roguest" class="uk-tile uk-tile-primary uk-preserve-color">
    <div class="uk-panel uk-light uk-margin-medium">
        <h1>RoguEST API: A comparison of API design styles</h1>
        <p class="uk-text-meta">Geek Sessions &mdash; 24th February 2023</p>
    </div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-body">
            <p>I discuss the properties that arise from designing the same API in two different design styles:
            <ul>
                <li>the conventional style, which I call "OpenAPI" style</li>
                <li>a style that applies the REST constraints more strictly, the "hypermedia" style</li>
            </ul>
            </p>
        </div>
        <div class="uk-card-footer">
            <p><a href="https://youtu.be/CKw0rK-dJGE">Recording</a></p>
        </div>
    </div>
</div>

<div id="talk_coding-earth_2020" class="uk-tile uk-tile-secondary uk-preserve-color">
    <div class="uk-panel uk-light uk-margin-medium">
        <h1>Coding, Fast and Slow</h1>
        <p class="uk-text-meta">coding earth &mdash; 6 June 2020</p>
    </div>
    <div class="uk-card uk-card-secondary">
        <div class="uk-card-body">
            <p>
                In this talk, based on Nobel laureate Daniel Kahneman's book about the human brain's two modes of
                thinking,
                I discuss how they influence programming practice.
                Through code examples, I then propose strategies to improve your programming by taking advantage of each
                of
                modes.
            </p>
        </div>
        <div class="uk-card-footer">
            <p><a href="https://youtu.be/ab62k9DrIxQ">Recording (Youtube)</a></p>
            <p><a href="https://coding.earth/meetup/ckal9jk2o1b9x01608ig10n4q">Meetup link</a></p>
        </div>
    </div>
</div>

<div class="uk-tile uk-tile-primary">
    <h1>X things to improve on REST APIs</h1>
    <p>Geek Sessions Faro &mdash; 15 March
        2019</p>
    <div class="uk-card uk-card-default">
        <div class="uk-card-body">
            <p>
                This was a presentation for the local tech community about often misunderstood aspects of REST API
                design,
                as well as a few patterns and ideas I've come up with while designing and implementing.
            </p>
        </div>
    </div>
</div>

<div class="uk-tile uk-tile-secondary">
    <h1>The Electrical Engineer in the labor market</h1>
    <p>JEEC 13 &mdash; 12 March 2013</p>
    <div class="uk-card uk-card-default">
        <div class="uk-card-body">
            <p>
                This is a presentation I made for the Electrical Engineering Days at Instituto Superior Técnico.
                It presented my professional experience thus far and my views on how electrical engineering graduates
                fit
                into the labor market and the kinds of questions one could ask when trying to choose a job.
            </p>
        </div>
    </div>
</div>