<div class="uk-panel uk-panel-box uk-panel-space text-block">
    <h1 class="uk-panel-title">The Electrical Engineer in the labor market</h1>
    <h2 class="uk-panel-title">JEEC 13 &mdash; 12 March 2013</h2>
    <div class="text-block">
        <p>
        This is a presentation I made for the Electrical Engineering Days at Instituto Superior Técnico.
        It presented my professional experience thus far and my views on how electrical engineering graduates fit into the labor market and the kinds of questions one could ask when trying to choose a job.
        </p>
    </div>
</div>
