<div class="uk-panel uk-panel-box uk-panel-space text-block">
    <h1 class="uk-panel-title"><a href="https://coding.earth/meetup/ckal9jk2o1b9x01608ig10n4q">Coding, Fast and Slow</a></h1>
    <h2 class="uk-panel-title">coding earth &mdash; 6 June 2020</h2>
    <div class="text-block">
        <p>
            In this talk, based on Nobel laureate Daniel Kahneman’s book about the human brain’s two modes of thinking, I discuss how they influence programming practice.
            Through code examples, I then propose strategies to improve your programming by taking advantage of each of modes.
        </p>
    </div>
</div>

<div class="uk-panel uk-panel-box uk-panel-space text-block">
    <h1 class="uk-panel-title">X things to improve on REST APIs</h1>
    <h2 class="uk-panel-title"><a href="https://geeksessions.io/">Geek Sessions Faro</a> &mdash; 15 March 2019</h2>
    <div class="text-block">
        <p>
            This was a presentation for the local tech community about often misunderstood aspects of REST API design,
            as well as a few patterns and ideas I've come up with while designing and implementing.
        </p>
    </div>
</div>

<div class="uk-panel uk-panel-box uk-panel-space text-block">
    <h1 class="uk-panel-title">The Electrical Engineer in the labor market</h1>
    <h2 class="uk-panel-title">JEEC 13 &mdash; 12 March 2013</h2>
    <div class="text-block">
        <p>
        This is a presentation I made for the Electrical Engineering Days at Instituto Superior Técnico.
        It presented my professional experience thus far and my views on how electrical engineering graduates fit into the labor market and the kinds of questions one could ask when trying to choose a job.
        </p>
    </div>
</div>