<ul class="uk-list uk-list-space">
    <li>
        <h2>Programming Languages</h2>
        <ul>
            <li>
                <h3>Java</h3>
                <div class="text-block">
                    <p>Java is my main programming language and, having used it in almost every project I've worked on professionally, consider myself to be an advanced user.</p>
                    <p>Version-wise, I've programmed professionally in every major Java version from Java 5 to Java 8.</p>
                    <p>I've worked on various types of applications: simple command-line tools, rich-client applications, web applications and horizontally scaling webservices.</p>
                </div>
            </li>
            <li>
                <h3>C/C++</h3>
                <div class="text-block">
                    <p>I've programmed in both C and C++ in a professional setting, for desktop and embedded systems.</p>
                    <p>I see myself as an intermediate user, having worked on simple device drivers as well as platform simulators.</p>
                </div>
            </li>
            <li>
                <h3>Ruby</h3>
                <div class="text-block">
                    <p>I'm an intermediate Ruby programmer, having developed a small DSL and a testing framework for audio codecs.</p>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <h2>Other Tools</h2>
        <ul>
            <li>
                <h3>Maven</h3>
                <div class="text-block">
                    <p>Since it is one of the main build tools in the Java ecossystem, I have broad experience working with Maven and consider myself an advanced user.</p>
                    <p>Besides the basic build usage, I've defined POM hierarchies to simplify and standardize usage across projects in a company, including the necessary configuration for performing releases in a CI environment.</p>
                </div>
            </li>
            <li>
                <h3>Make</h3>
                <div class="text-block">
                    <p>I feel very comfortable using Make, as I've used it to automate builds for medium-sized projects composed of multiple libraries, sometimes for multiple architectures.</p>
                    <p>I also use for some of my personal projects, since it's so generic and easy to get started.</p>
                </div>
            </li>
            <li>
                <h3>Jenkins</h3>
                <div class="text-block">
                    <p>I have a lot of experience in developing automation in Jenkins, from configuring Jenkins itself to creating moderately complex delivery pipelines, both manually and using the Job DSL plugin.</p>
                </div>
            </li>
            <li>
                <h3>Ansible</h3>
                <div class="text-block">
                    <p>I have some professional experience using Ansible to automate configuration management and basic deployments.</p>
                </div>
            </li>
        </ul>
    </li>
</ul>
