<ul class="uk-list uk-list-space">
    <li>
        <h2>Programming Languages</h2>
        <ul>
            <li>
                <h3>Java</h3>
                <div class="text-block">
                    <p>Java is my main programming language and, having used it in almost every project I've worked on professionally, consider myself to be an advanced user.</p>
                    <p>Version-wise, I've programmed professionally in every major Java version from Java 5 to Java 8.</p>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <h2>Build Tools</h2>
        <ul>
            <li>
                <h3>Maven</h3>
                <div class="text-block">
                    <p>Since it is one of the main build tools in the Java ecossystem, I have broad experience working with Maven and consider myself an advanced user.</p>
                    <p>Besides the basic build usage, I've defined POM hierarchies to simplify and standardize usage across projects in a company, including the necessary configuration for performing releases in a CI environment.</p>
                </div>
            </li>
        </ul>
    </li>
</ul>
