#main {
    padding: 2ex 2em;
}

.text-block {
    max-width: 40em;
}

.no-break {
    break-inside: avoid-page;
}

.h-list>* {
    display: inline;
}

#cv-photo {
    float: right;
    z-index: 1;
    position: relative;
}

@media print {
    .print-hidden {
        /* hide these elements when printing */
        display: none;
    }

    #cv-photo {
        height: 250px;
    }
}

@media not print {
    .print-only {
        /* hide these elements when NOT printing */
        display: none;
    }
}