#main, #footer {
    padding: 2ex 2em;
}

#resume-container {
    padding: 2ex 2em;
}
#resume-container > div {
    margin-top: 2ex;
}

.text-block {
    max-width: 40em;
}

@media print {
    .print-hidden {
        /* hide these elements when printing */
        display: none;
    }
}
