

.no-break {
    break-inside: avoid-page;
}

#cv-photo {
    float: right;
    z-index: 1;
    position: relative;
}

@media print {
    .print-hidden {
        /* hide these elements when printing */
        display: none;
    }

    #cv-photo {
        height: 250px;
    }
}

@media not print {
    .print-only {
        /* hide these elements when NOT printing */
        display: none;
    }
}
