<h2>College</h2>
<div class="uk-panel uk-panel-box uk-panel-box-primary uk-panel-space text-block">
    <h4 class="uk-panel-title">MSc Electrical and Computer Engineering &mdash; Instituto Superior Técnico</h4>
    <h4 class="uk-panel-title">September 2004 &mdash; October 2010</h4>
    <div class="text-block">
        <p>Graduated from the 1st cycle of studies with an average of 14 out of 20 points.</p>
        <p>Graduated from the 2nd cycle of studies with an average of 16 out of 20 points.</p>
        <p>As a requisite for the Master of Science degree, wrote and defended the thesis "Brain-Computer Interfaces".</p>
    </div>
</div>
