<h3>Languages</h3>
<ul class="uk-list uk-list-striped">
    <li>
        <div class="resume_entry">
            <div class="resume_entry_header">
                <span class="resume_entry_employer">Japanese</span>
                <span class="resume_entry_span">December 2014</span>
                <span class="resume_entry_title">JLPT N5</span>
            </div>
            <div class="resume_entry_body">
                <p class="resume_entry_description">
                Currently studying in hopes of taking N4
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="resume_entry">
            <div class="resume_entry_header">
                <span class="resume_entry_employer">Business English Certificate Higher</span>
                <span class="resume_entry_span">June 2011</span>
                <span class="resume_entry_title">University of Cambridge</span>
            </div>
            <div class="resume_entry_body">
                <p class="resume_entry_description">
                Awarded Grade B (Council of Europe Level C1)
                </p>
            </div>
        </div>
    </li>
</ul>
