<h3>Languages</h3>
<div class="resume_entry">
	<div class="resume_entry_header">
		<span class="resume_entry_employer">Japanese</span>
		<span class="resume_entry_span">May 2013</span>
		<span class="resume_entry_title">Instituto Oriental -- Faculdade de Ciências Sociais e Humanas</span>
	</div>
	<div class="resume_entry_body">
		<p class="resume_entry_description">
		Level 2
		</p>
	</div>
</div>
<div class="resume_entry">
	<div class="resume_entry_header">
		<span class="resume_entry_employer">Business English Certificate Higher</span>
		<span class="resume_entry_span">June 2011</span>
		<span class="resume_entry_title">University of Cambridge</span>
	</div>
	<div class="resume_entry_body">
		<p class="resume_entry_description">
		Awarded Grade B (Council of Europe Level C1)
		</p>
	</div>
</div>
