<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="msvalidate.01" content="92C8A7DB79E50BB9AE4239535E09EDB1" />
        <meta name=viewport content="width=device-width, initial-scale=1">
        {% if page.description != null %}
        <meta name="description" content="{{ page.description }}" />
        {% endif %}
        <title>{{ page.title }} - João Cabrita</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.21.0/css/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/kewne.css" />
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        <div class="uk-grid">
            <div class="uk-width-6-6">
                <div id="header">
                    <div id="banner" itemscope itemtype="http://schema.org/WPHeader">
                        {% include header.html %}
                    </div>
                    {% include menu.html %}
                </div>
                <div id="main">
                    {{ content }}
                </div>
                <div id="footer" itemscope itemtype="http://schema.org/WPFooter">
                    <p>Who dares, wins.<p>
                </div>
            </div>
        </div>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-46219127-1', 'kewne.github.io');
        ga('send', 'pageview');

        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    </body>
</html>

