<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="msvalidate.01" content="92C8A7DB79E50BB9AE4239535E09EDB1" />
        {% if page.description != null %}
        <meta name="description" content="{{ page.description }}" />
        {% endif %}
        <title>{{ page.title }} - João Cabrita</title>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-46219127-1', 'kewne.github.io');
        ga('send', 'pageview');

        </script>
        <link rel="stylesheet" href="/stylesheets/kewne.css" />
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        <div id="header">
            <div id="banner" itemscope itemtype="http://schema.org/WPHeader">
                {% include header.html %}
            </div>
            {% include menu.html %}
        </div>
        <div id="main" itemprop="mainContentOfPage">
            {{ content }}
        </div>
        <div id="ad">
<SCRIPT charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_mfw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fkewne-20%2F8001%2F1ca7a32b-b708-48a9-9181-9561f6cfe7c0"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_mfw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fkewne-20%2F8001%2F1ca7a32b-b708-48a9-9181-9561f6cfe7c0&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
        </div>
        <div id="footer" itemscope itemtype="http://schema.org/WPFooter">
            <div id="footer-ad">
                <script type="text/javascript">
                <!-- amazon_ad_tag = "kewne-20"; amazon_ad_width = "728"; amazon_ad_height = "90"; amazon_ad_link_target = "new";//--></script>
                <script type="text/javascript" src="http://ir-na.amazon-adsystem.com/s/ads.js"></script>
            </div>
            <p>Who dares, wins.<p>
        </div>
    </body>
</html>

