<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="msvalidate.01" content="92C8A7DB79E50BB9AE4239535E09EDB1" />
        {% if page.description != null %}
        <meta name="description" content="{{ page.description }}" />
        {% endif %}
        <title>{{ page.title }} - João Cabrita</title>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-46219127-1', 'kewne.github.io');
        ga('send', 'pageview');

        </script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/webjars/uikit/2.12.0/css/uikit.min.css" />
        <link rel="stylesheet" href="/stylesheets/kewne.css" />
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        <div class="uk-grid">
            <div class="uk-width-5-6">
                <div id="header">
                    <div id="banner" itemscope itemtype="http://schema.org/WPHeader">
                        {% include header.html %}
                    </div>
                    {% include menu.html %}
                </div>
                <div id="main">
                    {{ content }}
                </div>
                <div id="footer" itemscope itemtype="http://schema.org/WPFooter">
                    <p>Who dares, wins.<p>
                    <p>João Cabrita is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.com</p>
                </div>
            </div>
            <div id="ad" class="uk-width-1-6">
    <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_mfw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fkewne-20%2F8001%2F1ca7a32b-b708-48a9-9181-9561f6cfe7c0"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_mfw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fkewne-20%2F8001%2F1ca7a32b-b708-48a9-9181-9561f6cfe7c0&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
            </div>
        </div>
    </body>
</html>

