---
layout: default
---
<article class="uk-article" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="uk-article-title" itemprop="name">{{ page.title }}</h1>

    <div class="uk-width-xlarge uk-text-justify" itemprop="articleBody">{{ content }}</div>
</article>
<hr />
<div>
    <h4>Share this</h4>
    <span>
        <a aria-label="Share on LinkedIn" uk-icon="icon: linkedin" 
            href="https://www.linkedin.com/sharing/share-offsite/?url={{site.url}}{{page.url}}" target="_blank"></a>
    </span>
</div>
{% include comments.html %}
